doctype html
html
  head
    title #{htmlWebpackPlugin.options.data.title}
    if htmlWebpackPlugin.options.data.favIcon
    link(rel="shorticon icon" type="image/x-icon" href=htmlWebpackPlugin.options.data.favIcon)
    base(href=htmlWebpackPlugin.options.data.baseUrl)
    if webpackConfig.htmlElements.headTags
      // headTags
      != webpackConfig.htmlElements.headTags
    // manifest
    != htmlWebpackPlugin.files.webpackManifest
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    if htmlWebpackPlugin.options.data.isWebpackDevServer
      // devServer
      script(src="/webpack-dev-server.js")
  body
    app Loading... #{htmlWebpackPlugin.options.data.htmlPaths.length}
    div#root #{htmlWebpackPlugin.options.data.hello}
